@import '../../../scss/variables';

$accent-04: rgba($accent, 0.4);
$accent-07: rgba($accent, 0.7);

.button {
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 11px 46px;
  background-color: $accent-04;
  transition: background-color 0.15s ease;
  cursor: pointer;
  color: #fff;
  &:hover {
    background-color: $accent-07;
  }

  &.main {
    background-color: rgba(255, 255, 255, 0.2);
    &:hover {
      background-color: $accent-04;
    }
  }
}

.wrapper {
  text-align: center;
}
